/*
Gray Text: #444
Light Gray Text: #e6e6e6
Navbar & Footer: #292929

SDSU Colors
http://newscenter.sdsu.edu/brand/brand_central_2015/webguidelines.aspx
SDSU Red
HEX: #C41230
RGB: 196, 18, 48

SDSU Black
HEX: #000

SDSU Gold (accent)
HEX: #D2C694
RGB: 210, 198, 148
*/

.bg-inverse {
    background-color: #333 !important;
}

a.nav-link {
    color: #e6e6e6 !important;
}

a.nav-link:hover {
    color: #C41230 !important;
}

.dropdown-menu {
    background-color: #333;
    z-index: 1060;
}

a.dropdown-item {
    color: #e6e6e6;
}

a.dropdown-item:hover {
    background-color: transparent;
    color: #C41230;
}

footer {
    padding: 20px;
    background-color: #292929;
}
