<!-- Progress Bar
            <div class="progress no-margin">
                <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 77.5%" style="min-width: 2em;">
                    77.5% Units Completed Out of 120
                </div>
            </div>
            End Progress Bar -->

              <div class="req-tab" id="accordion" role="tablist" aria-multiselectable="true">
                <div *ngFor="let req of reqs | async; let i = index">
                  <div *ngIf="req.status == 'complete'" class="card">

                    <a class="req-tab" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{i}}" aria-expanded="false" attr.aria-controls="collapse-{{i}}">
                      <div class="card-header" role="tab" id="heading-one">
                        <h5>
                          <span class="fa fa-check text-success" title="Completed"></span>
                          {{req.name}}
                          <span class="fa fa-caret-down float-right" title="Drop Down"></span>
                        </h5>
                      </div>
                    </a>
                    <div id="collapse-{{i}}" class="collapse" role="tabpanel" aria-labelledby="heading-one">
                      <div class="card-block">
                        You have completed this requirement.
                      </div>
                    </div>
                  </div>


                  <div *ngIf="req.status == 'incomplete'" class="card">
                    <a class="req-tab" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{i}}" aria-expanded="false" attr.aria-controls="collapse-{{i}}">
                      <div class="card-header" role="tab" id="heading-two">
                        <h5>
                          <span class="fa fa-remove text-danger" title="Incomplete">&nbsp;</span>
                          {{req.name}}
                          <span class="fa fa-caret-down float-right" title="Drop Down"></span>
                        </h5>
                      </div>
                    </a>
                    <div id="collapse-{{i}}" class="collapse" role="tabpanel" aria-labelledby="heading-two">
                      <div class="card-block">
                        You have not completed this requirement. Please add a class from the list below.
                        <div class="input-group" style="padding-top: 10px;">
                          <input type="text" class="form-control" placeholder="Search & Add a Class" aria-describedby="sizing-addon1">
                          <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><span class="fa fa-plus text-danger" title="Incomplete"></span></button>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

<!--         <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                <span class="glyphicon glyphicon-remove text-danger" title="Delete Class"></span>
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    GRADUATION WRITING ASSESSMENT REQUIREMENT
                  </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    <span class="glyphicon glyphicon-remove text-danger" title="Delete Class"></span> You have not completed this requirement. Please add a class from the list below.
                    <div class="input-group" style="padding-top: 10px;">
                        <input type="text" class="form-control" placeholder="Search & Add a Class" aria-describedby="sizing-addon1">
                        <span class="input-group-btn">
                      <button class="btn btn-default" type="button">+</button>
                    </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                <span class="glyphicon glyphicon-check text-success" title="Delete Class"></span>
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    AMERICAN INSTITUTIONS REQUIREMENT SATISFIED
                  </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                    <span class="glyphicon glyphicon-check text-success" title="Delete Class"></span> You have completed this requirement.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFour">
                <h4 class="panel-title">
                <span class="glyphicon glyphicon-remove text-danger" title="Delete Class"></span>
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    UNIT, RESIDENCE AND GPA REQUIREMENTS
                  </a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                <div class="panel-body">
                    <span class="glyphicon glyphicon-remove text-danger" title="Delete Class"></span> You have not completed this requirement. Please add a class from the list below.
                    <div class="input-group" style="padding-top: 10px;">
                        <input type="text" class="form-control" placeholder="Search & Add a Class" aria-describedby="sizing-addon1">
                        <span class="input-group-btn">
                      <button class="btn btn-default" type="button">+</button>
                    </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFive">
                <h4 class="panel-title">
                <span class="glyphicon glyphicon-remove text-danger" title="Delete Class"></span>
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    CULTURAL DIVERSITY
                  </a>
                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                <div class="panel-body">
                    <span class="glyphicon glyphicon-remove text-danger" title="Delete Class"></span> You have not completed this requirement. Please add a class from the list below.
                    <div class="input-group" style="padding-top: 10px;">
                        <input type="text" class="form-control" placeholder="Search & Add a Class" aria-describedby="sizing-addon1">
                        <span class="input-group-btn">
                      <button class="btn btn-default" type="button">+</button>
                    </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingSix">
                <h4 class="panel-title">
                <span class="glyphicon glyphicon-remove text-danger" title="Delete Class"></span>
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    IVA.  EXPLORATIONS - NATURAL SCIENCES
                  </a>
                </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                <div class="panel-body">
                    <span class="glyphicon glyphicon-remove text-danger" title="Delete Class"></span> You have not completed this requirement. Please add a class from the list below.
                    <div class="input-group" style="padding-top: 10px;">
                        <input type="text" class="form-control" placeholder="Search & Add a Class" aria-describedby="sizing-addon1">
                        <span class="input-group-btn">
                      <button class="btn btn-default" type="button">+</button>
                    </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingSeven">
                <h4 class="panel-title">
                <span class="glyphicon glyphicon-remove text-danger" title="Delete Class"></span>
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                    IVB.  EXPLORATIONS - SOCIAL AND BEHAVIORAL SCIENCES
                  </a>
                </h4>
            </div>
            <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                <div class="panel-body">
                    <span class="glyphicon glyphicon-remove text-danger" title="Delete Class"></span> You have not completed this requirement. Please add a class from the list below.
                    <div class="input-group" style="padding-top: 10px;">
                        <input type="text" class="form-control" placeholder="Search & Add a Class" aria-describedby="sizing-addon1">
                        <span class="input-group-btn">
                      <button class="btn btn-default" type="button">+</button>
                    </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingEight">
                <h4 class="panel-title">
                <span class="glyphicon glyphicon-remove text-danger" title="Delete Class"></span>
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                    IVC.  EXPLORATIONS - HUMANITIES
                  </a>
                </h4>
            </div>
            <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
                <div class="panel-body">
                    <span class="glyphicon glyphicon-remove text-danger" title="Delete Class"></span> You have not completed this requirement. Please add a class from the list below.
                    <div class="input-group" style="padding-top: 10px;">
                        <input type="text" class="form-control" placeholder="Search & Add a Class" aria-describedby="sizing-addon1">
                        <span class="input-group-btn">
                      <button class="btn btn-default" type="button">+</button>
                    </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingNine">
                <h4 class="panel-title">
                <span class="glyphicon glyphicon-check text-success" title="Delete Class"></span>
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                    PREPARATION FOR THE MAJOR
                  </a>
                </h4>
            </div>
            <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
                <div class="panel-body">
                    <span class="glyphicon glyphicon-check text-success" title="Delete Class"></span> You have completed this requirement.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTen">
                <h4 class="panel-title">
                <span class="glyphicon glyphicon-check text-success" title="Delete Class"></span>
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                    MAJOR REQUIREMENTS
                  </a>
                </h4>
            </div>
            <div id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
                <div class="panel-body">
                    <span class="glyphicon glyphicon-check text-success" title="Delete Class"></span> You have completed this requirement.
                </div>
            </div>
        </div>
    </div> -->
