<div class="req-tab" id="accordion" role="tablist" aria-multiselectable="true">
    <div *ngFor="let req of reqs | async; let i = index">
        <div *ngIf="req.status == 'complete'" class="card">
            <a class="req-tab" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{i}}" aria-expanded="false" attr.aria-controls="collapse-{{i}}">
                <div class="card-header" role="tab" id="heading-one">
                    <h5>
                          <span class="fa fa-check text-success" title="Completed"></span>
                          {{req.name}}
                          <span class="fa fa-caret-down float-right" title="Drop Down"></span>
                        </h5>
                </div>
            </a>
            <div id="collapse-{{i}}" class="collapse" role="tabpanel" aria-labelledby="heading-one">
                <div class="card-block">
                    You have completed this requirement.
                </div>
            </div>
        </div>
        <div *ngIf="req.status == 'incomplete'" class="card">
            <a class="req-tab" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{i}}" aria-expanded="false" attr.aria-controls="collapse-{{i}}">
                <div class="card-header" role="tab" id="heading-two">
                    <h5>
                          <span class="fa fa-remove text-danger" title="Incomplete">&nbsp;</span>
                          {{req.name}}
                          <span class="fa fa-caret-down float-right" title="Drop Down"></span>
                        </h5>
                </div>
            </a>
            <div id="collapse-{{i}}" class="collapse" role="tabpanel" aria-labelledby="heading-two">
                <div class="card-block">
                    You have not completed this requirement. Please add a class from the list below.
                    <div class="input-group" style="padding-top: 10px;">
                        <input type="text" class="form-control" placeholder="Search & Add a Class" aria-describedby="sizing-addon1">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><span class="fa fa-plus text-danger" title="Incomplete"></span></button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
