/* 
Gray Text: #444
Light Gray Text: #e6e6e6
Navbar & Footer: #292929

SDSU Colors
http://newscenter.sdsu.edu/brand/brand_central_2015/webguidelines.aspx
SDSU Red
HEX: #C41230
RGB: 196, 18, 48

SDSU Black
HEX: #000

SDSU Gold (accent)
HEX: #D2C694
RGB: 210, 198, 148
*/

#homescreen-container {
	background-color: #D2C694;
	min-height: 95vh;
}

#login-section {
	padding-top: 15vh;
	color: #444;
}
