<!-- Homescreen page that every user will see until they login or signup -->
<div class="container-fluid text-left" id="homescreen-container">
    <div class="row">
        <div class="col-3">
        </div>
        <!-- Login/Sign Up section -->
        <div class="col-6 text-center" id="login-section">
            <h2>Please Login or Signup</h2>
            <p id="homescreen-intro">Organize Your Classes and See Your Progression.</p>
            <div class="row">
                <div class="col-md-6">
                    <button type="button" class="btn btn-danger" id="login-button" data-toggle="modal" data-target="#login">
                        Login
                    </button>
                </div>
                <div class="col-md-6">
                    <button type="button" class="btn btn-secondary" id="signup-button" data-toggle="modal" data-target="#signup">
                        Sign up
                    </button>
                </div>
                <!-- Login modal -->
                <div class="modal fade" id="login">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Login to PortalPlus</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="modal-body">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="login-username" placeholder="Username" aria-describedby="login-username">
                                </div>
                                <br>
                                <div class="input-group">
                                    <input type="password" class="form-control" id="login-password" placeholder="Password" aria-describedby="login-password">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger float-right" data-dismiss="modal">Login</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Sign Up modal -->
                <div class="modal fade" id="signup">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Sign Up with PortalPlus</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="modal-body">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="login-username" placeholder="Username" aria-describedby="login-username">
                                </div>
                                <br>
                                <div class="input-group">
                                    <input type="password" class="form-control" id="login-password" placeholder="Password" aria-describedby="login-password">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger float-right" data-dismiss="modal">Sign Up</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
        </div>
    </div>
</div>
